<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>software</key>
	<dict>
		<key>version</key>
		<string>1.0.0</string>
		<key>notify</key>
		<integer>1</integer>
		<key>used</key>
		<dict>
			<key>1.0.0</key>
			<integer>0</integer>
		</dict>
		<key>New item</key>
		<string></string>
		<key>rated</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
